@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

h1 {
    font-family: 'Yomogi', cursive;
    text-align: center;
    color: #f2f2f2;
    align-content: center;
    padding-top: 20px;
    font-size: 55px;
}

h2 {
    font-family: 'Yomogi', cursive;
    text-align: center;
    color: #f2f2f2;
    align-content: center;
    font-size: 30px;
}

h3 {
    font-family: 'Yomogi', cursive;
    text-align: center;
    color: #f2f2f2;
    align-content: center;
    font-size: 20px;
}

body {
    font-family: 'Yomogi', cursive;
    background-color: #3626D0;
}

.footer {
    position: static;
    left: 0;
    bottom: 0;
}

.page-footer {
    font-family: 'Yomogi', cursive;
    text-align: center;
    color: #f2f2f2;
    align-content: center;
    font-size: 20px;
    margin: 15px 0;
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Navbar styling */
.navbar-container {
    border-bottom: 1px solid white;
}

/* Navbar CSS found here: https://dev.to/devggaurav/let-s-build-a-responsive-navbar-and-hamburger-menu-using-html-css-and-javascript-4gci */
.navbar-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.nav-menu {
    display: flex;
    align-items: center;
    padding: 0;
}

.nav-item {
    margin-left: 5rem;
    list-style: none;
    display: inline;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Yomogi', cursive;
    text-align: center;
    padding-right: 20px;

}

.nav-link {
    color: #f2f2f2;
    text-decoration: none;
    padding: 10px;
    display: inline;
}

.nav-link:hover {
    background-color: white;
    color: #3917ca;
}

.nav-link:active {
    border: solid 1px white;
    background-color: #5fd8fb;
}

.navbar-link:hover {
    background-color: #f2f2f2;
    color: #3917ca;
}

/* Index page */

/* Code for animated heading found here: https://tobiasahlin.com/moving-letters/#6 */
.animated-heading {
    position: relative;
    font-weight: 900;
    font-size: 3.3em;
}

.animated-heading .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
    white-space: nowrap;
    width: fit-content;
}

.animated-heading .letter {
    display: inline-block;
    line-height: 1em;
}

/* Globe */
#rotatingGlobe {
    width: 400px;
    height: 400px;
    cursor: move;
    padding-left: 50px;
}

#tag-line {
    margin: 20px;
}


/* General content styling for entire website */
#title-container {
    margin: 0;
    width: 100%;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    clear: both;
}

.container {
    justify-content: center;
    align-content: center;
    align-items: center;
    clear: both;
}

.block {
    display: block;
}

.button {
    background-color: white;
    color: #3917ca;
    font-family: 'Yomogi', cursive;
    font-size: 20px;
    border: white;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    width: 150px;
    height: 100px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.button:hover {
    background-color: #5fd8fb;
    color: white;
}

.hidden {
    display: none;
}

#game-button {
    height: 60px;
    width: 80px;
}

.button::after {
    color: #3917ca;
}

/* Styling for quiz page*/
#game-container {
    margin: 20px;
}

.question {
    font-size: 30px;
    font-family: 'Yomogi', cursive;
    color: white;
    text-align: center;
}

.volume-button {
    height: 15px;
    color: white;
    background: 0;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Yomogi', cursive;
    text-align: center;
    left: 20px;
    position: relative;
}

.answer-btn {
    font-family: 'Yomogi', cursive;
    text-align: center;
    color: white;
    background-color: #246DF5;
    margin: 20px;
    padding: 10px !important;
    font-size: 18px;
    width: 180px;
    height: 150px;
    border: solid 1px white;
    font-weight: bold;
    border-radius: 10px;
    overflow-wrap: break-word;
    vertical-align: middle;
    cursor: pointer;
}

.answer-btn:hover {
    background-color: white;
    color: #3917ca;
}

.correct {
    background-color: green !important;
    color: white;
}

.incorrect {
    background-color: red !important;
    color: white;
}


#progress-container {
    padding: 20px;
    justify-content: space-between;
}

.progress-items {
    color: white;
    font-family: 'Yomogi', cursive;
    font-size: 25px;
    font-weight: bold;

}

/* Styling for rules page */
#rules-container {
    width: 50%;
    margin-left: 25vw;
}

#rules-list {
    font-family: 'Yomogi', cursive;
    color: white;
    font-size: 20px;
    margin: 20px;
}

/* Styling for end-page */
#end-game-container {
    position: absolute;
    top: 150px;
    left: 70px;
    right: 70px;
}

#final-score-container {
    justify-content: center;
    align-items: center;
    align-content: center;
}

#final-score-container>h2,
h3 {
    text-align: center;
}

#buttons-list {
    padding: 0;
    text-align: center;
}

#buttons-list li {
    list-style: none;
    display: inline;
    font-size: 15px;
    font-weight: bold;
}

#buttons-list li a {
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    height: auto;
    margin: 0 0 5px;
    border-radius: 10px;
}

#save-score-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#username {
    height: 40px;
    display: block;
}

#end-page-footer {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* High-scores page */
.high-score {
    list-style: none;
    text-align: center;
    font-family: 'Yomogi', cursive;
    font-size: 30px;
    color: white;
    margin-bottom: 5px;
}

#high-scores-leaderboard {
    padding: 0;
}

#play-again {
    height: 60px;
    width: 80px;
}

/* Media queries for mobile phone  */
@media screen and (max-width: 525px) {

    .animated-heading {
        font-weight: 900;
        font-size: 1.5em;
    }

    #rotatingGlobe {
        width: 200px;
        height: 200px;
        margin: 25px 25px 0 0;
    }

    #tag-line {
        font-size: 16px;
        margin: 0 10px;
    }

    #game-button {
        width: 100px;
    }

    .question {
        font-size: 25px;
        margin: 0 10px;
        line-height: 40px;
    }

    .progress-items {
        font-size: 16px;
    }

    #game-container {
        margin: 0 20px 20px 20px;
    }

    .answer-btn {
        width: 200px;
        height: 100px;
    }

    #progress-container {
        padding: 0 !important;
    }

    .high-score {
        font-size: 22px;
    }

}

@media screen and (max-width: 768px) {

    .nav-menu {
        position: fixed;
        left: -200%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
        padding: 0;
        z-index: 999;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .nav-link {
        color: blue;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .page-footer {
        font-size: 15px;
    }

    h1 {
        font-size: 25px;
    }

    .answer-btn {
        display: block;
        width: 200px;
        height: 80px;
    }

    #progress-container {
        padding: 0 20px;
    }

    #rules-container {
        width: 100%;
        margin: 5px;
    }

    #rules-list {
        font-size: 16px;
    }

    #game-over-heading {
        font-size: 45px;
    }

    #buttons-list>li {
        display: block;
        margin: 35px 0;
    }

    #save-score {
        height: 80px;
    }

}

@media screen and (min-width: 1440px) {
    .nav-link {
        font-size: 25px;
    }

    #tag-line {
        margin-bottom: 40px;
        font-size: 35px;
    }

    .button {
        font-size: 25px;
    }

    #rules-list {
        font-size: 35px;
    }

    .progress-items {
        font-size: 30px;
    }

    .question {
        font-size: 40px;
    }

    .answer-btn {
        font-size: 25px;
    }

    .high-score {
        font-size: 35px;
    }

    #play-again,
    #game-button {
        height: 80px;
        width: 100px;
    }
}
