@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&family=Urbanist:wght@500&display=swap');

/* STYLE CSS */

*{
    font-size: 1.1rem;
    letter-spacing: 2px;
	font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 3rem;
    text-align: justify;
}

h2{
    font-size: 4.2rem;
    margin-bottom: 4rem;
}

#heading{
	color: white;
	background: rgb(18, 93, 255);
	text-align: center;
	margin: auto;
}

#main-title{
	font-size: 4rem;
	margin: auto;
	text-align: center;
	letter-spacing: 2px;
}

#main-subheading {
	font-size: 1.5rem;
	margin: auto;
	text-align: center;
	letter-spacing: 5px;
	font-weight: normal;
}

#heading i{
	font-size: 3rem;
	margin: auto;
	text-align: center;
	padding-top: 2.2rem;
}

.container2 {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 4rem; 
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content:center;
    align-items: center; 
}

.justify-center{
    justify-content: center;
}

.text-center{
    text-align: center;
}

.hidden {
    display:none;
}

.button {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(28,26,26);
    background: linear-gradient(90deg, rgb(18,92,255) 0%, rgb(0, 102, 255)100%);
    border-radius: 4px;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(8, 114, 244, 0.6);
    transition: transform 150ms;
    transform: scale(1.03);
}

.button[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}


/* MENU CSS */
body {
	margin: 0px;
	padding: 0px;
	color: #fff;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}


.container2 {
	width: 100%;
	height: 100%;
	/*background-color: #3e6b88;*/
	background-color: rgb(18, 92, 255);
	display: flex;
	justify-content: center;
	align-items: center;

}

.box {
	width: 350px;
	height: 610px;
	background-color: #1e1e26;
	border-radius: 10px;
	box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	margin: 20px 10px;
}

.green {
	color: #1fb638;
}

.yellow {
	color: yellow;
}

.red {
	color: red;
}

.model {
	height: 350px;
	max-height: 100%;
	max-width: 100%;
	border-radius: 15px;
	margin-bottom: 5px;
}

.beginner:hover img {
	border: #1fb638 solid 6px;
}

.intermediate:hover img {
	border: yellow solid 6px;
}

.advanced:hover img {
	border: red solid 6px;
}

.details {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
}

.details p {
	font-family: 'Urbanist', sans-serif;
	font-weight: bold;
	color: #D9D9D9;
	text-align: center;
	margin-top: 5px;
	font-size: 25px;
	letter-spacing: 1px;
}

.marvel {
	padding-top: 10px;
	color: #D9D9D9;
	font-weight: bold;
	letter-spacing: 2px;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
}

.logo {
	height: 60px;
}

.box:hover {
	background-color: #17171d;
	transform-style: preserve-3d;
	transform: scale(1.02);
	transition: all ease 0.3s;
}

.box:hover .marvel {
	color: rgb(18, 92, 255);
	transition: all ease 0.5s;
}

/*--responsive for mobile phone--*/
@media(max-width:720px) {
	.box {
		width: 94%;
		height: 500px;
	}

	.model {
		height: 250px;
	}

	.details p {
		font-size: 16px;
		width: 250px;
	}

}

.start_btn button {
	font-size: 20px;
	font-weight: 500px;
	color: rgb(18, 92, 255);
	padding: 15px 30px;
	outline: none;
	border: none;
	border-radius: 5px;
	background: #fff;
	cursor: pointer;
	letter-spacing: 1px;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 25px;
}

.start_btn button:hover {
	background: #1e1e26;
	color: #fff;
	border: #fff solid 2px;
}

/* GAME CSS */
.container{
	background-color: #1e1e26;
	padding-bottom: 120px;
}
.choice-container{
    display: flex;
    margin: auto;
    width: 75%;
    border-radius: 5px;
    border-bottom: rgb(29,26,26) solid 0.8rem;
    background: rgb(18, 93, 255);
    font-size: 3rem;
    /*min-width: 80rem;*/
}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(6. 103, 247, 0.5);
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 0.8rem 2rem 0.8rem 2rem ;
    color: white;
    letter-spacing: 2px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
    font-weight: bold;
}

.choice-text{
    padding: 0.6rem 2rem 0.6rem 2rem;
    width: 100%;
    font-family: 'Urbanist', sans-serif;
	font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
}

.correct {
    background: linear-gradient(32deg, rgba(11, 233, 36)0%, rgb(41, 232, 111)100%);
}

.incorrect {
    background: linear-gradient(32deg, rgba(230, 29, 29, 1)0%, rgb(224, 11, 11, 1)100%);
}

/* HEADS UP DISPLAY */

#heads-up-display{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: center;

}


.heads-up-display-prefix{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

h1{
    width: 75%;
    margin: auto;
    padding-bottom: 2rem;
    padding-top: 2rem;
    font-size: 1.5rem;
    text-align:justify;
}

.heads-up-prefix {
    text-align:center;
}

#progressBar {
    width: 40rem;
    height: 3rem;
    border: 0.2rem solid rgb(11,223, 36);
    /*margin-top: 2.2rem;
    margin-bottom: 2.2rem;*/
    border-radius: 50px;
    overflow: hidden;
    margin: auto;
}

#progressBarFull{
    height: 100%;
    background: rgb(11,223,36);
    width: 0%;
}

.container{
	display: none;
}

.container a{
	color: white;
    font-size: 1.2rem;
}

.container i{
	font-size: larger;
}

.container h3{
	color: white;
	text-decoration: none;
	padding: 3rem 1rem 0rem 4rem;
    width: 60%;
    margin: 0;
	font-size: 20px;
}

@media screen and (max-width: 768px){
    .choice-container{
        min-width: 40rem;
    }


}

/* END CSS */

.quiz-end{
	padding-top: 220px;
	padding-bottom: 220px;
	background-color: #1e1e26;
	width: 100%;
}

#end {
	display: none;
}


.final-score {
		margin: auto;
		height: fit-content;
		width: 70%;
		border-radius: 20px;
		background: rgb(18, 93, 255);
		font-size: 3rem;
		/*min-width: 80rem;*/
		text-align: center;
		padding-bottom: 100px;
}

.final-score a {
	font-size: 20px;
	font-weight: 500px;
	color: rgb(18, 92, 255);
	padding: 15px 30px;
	outline: none;
	border: none;
	border-radius: 5px;
	background: #fff;
	cursor: pointer;
	letter-spacing: 1px;
	font-family: 'Roboto', sans-serif;
	margin: 20px
}

.final-score a:hover {
	background: #1e1e26;
	color: #fff;
	border: #fff solid 2px;
}

.final-score h2{
	margin: auto;
	text-align: center;
	font-family: 'Roboto', calibri;
	padding-top: 50px;
	font-size: 2.5rem;
	padding-bottom: 20px;
}

.final-score button{
	font-size: 1.3rem;
    padding: 0.5rem 0;
    width: 7rem;
    text-align: center;
    margin-left: 1rem;
    text-decoration: none;
    color: rgb(18,92,255);
    background: white;
    border-radius: 4px;
}

.final-score button:hover{
    color: white;
	background-color: #1e1e26 ;
	border: #fff solid 2px;
}

.quiz-end h3{
	font-size: 1.2rem;
	font-weight: lighter;
	font-family: 'Roboto', Calibri;
}

input{
	height: 2rem;
	width: 20rem;
}

.final-score i{
	font-size: 3rem;
	margin: auto;
}


span{
	font-size: 2.5rem;
}
